%% -*- mode: erlang -*-

{erl_opts, [no_debug_info]}.
{deps, [
    {erl_exercism, "0.1.2"},
    {jsx, "3.0.0"}
]}.

{project_plugins, [erlfmt]}.

{escript_incl_apps, [erlang_test_runner, jsx]}.
{escript_main_app, erlang_test_runner}.
{escript_name, erlang_test_runner}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, [
            {erlsh, "0.1.0"}
        ]}
    ]}
]}.
