name: Check formatting

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8eb1f6a495037164bea451156472f35fdd6bafc0
      - uses: erlef/setup-beam@2f0cc07b4b9bea248ae098aba9e1a8a1de5ec24c
        with:
          otp-version: "25.3"
          rebar3-version: "3.22"
      - run: rebar3 fmt -c
