name: Check formatting

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@b32f140b0c872d58512e0a66172253c302617b90
      - uses: erlef/setup-beam@904c511e63061a8f501ae4b081ce2c0e9cfc70ab
        with:
          otp-version: "25.3"
          rebar3-version: "3.22"
      - run: rebar3 fmt -c
