name: Run CT

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9
        with:
          otp-version: "25.3"
          rebar3-version: "3.22"
      - run: SOURCE_PATH=$(pwd) rebar3 ct
